:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  width: 100%;
}

#root {
  width: 100%;
}

body {
  color: #242424;
  background-color: #EED9C4;
  width: 100%;
}

.dark-mode body {
  color: #EED9C4;
  background-color: #242424
}

a {
  font-weight: bold;
  color: #0C9A4A;
  text-decoration: inherit;
}

a:hover {
  color: #F88F2D;
  text-decoration: underline #F88F2D;
}

a:focus {
  color: #F88F2D;
  text-decoration: underline overline #F88F2D;
  outline: 4px auto -webkit-focus-ring-color;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  min-width: 320px;
  min-height: 100vh;
}

h2 {
  text-align: center;
  font-style: italic;
}

homeH3 {
  text-align: center;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #0C9A4A;
  cursor: pointer;
  transition: border-color 0.25s;
  color: #FFFFFF;
}
button:hover {
  color: #F88F2D;
  border-color: #F88F2D;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

/* SPAN */

.underline {
  text-decoration: underline;
}

.italic {
  font-style: italic;
}

/* FIN SPAN */

/* HEADER */

header {
  position: relative;
  width: 100%;
}

#buttonDarkMode {
  position: absolute;
  top: 15px;
  right: 20px;
}

.burger-icon {
  cursor: pointer;
  font-size: 2.5rem;
  color: #0C9A4A;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  position: absolute;
  top: 10px;
  left: 20px;
}

.burger-menu {
  list-style-type: none;
  padding: 0;
  position: absolute;
  top: 60px;
  left: 0;
  width: 100%;
  background-color: #0C9A4A;
  z-index: 1;
  display: none;
}

.burger-menu.visible {
  display: block;
}

.burger-menu ul {
  padding: 15px;
}

#burgerUl {
  display: flex;
  flex-direction: column;
}

#burgerUl li {
    text-align: center;
}

.burger-menu li {
  margin-bottom: 10px;
}

.burger-menu a {
  color: white;
  text-decoration: none;
  font-size: 18px;
}

.burger-menu a:hover {
  text-decoration: underline;
}

.headerDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("./pictures/landscape.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 20rem;
  width: 100%;
}

.headerDiv a {
  display: flex;
  align-items: center;
  justify-content: center
}

#headerLogo {
  width: 35%;
  align-self: center;
}

#headerLogo:hover {
  outline: 4px auto -webkit-focus-ring-color;
}

#headerLogo:focus {
  outline: 4px auto -webkit-focus-ring-color;
}

h1 {
  font-size: 2em;
  line-height: 1.1;
  color: #EED9C4;
  background-color:  #F88F2D;
  font-style: italic;
  font-weight: bold;
  text-align: center;
  margin: 0;
  padding: 1em;
  /*border-top: 1px solid #0C9A4A ;*/
  border-bottom: 1px solid #0C9A4A ;
}

header nav ul {
  display: flex;
  justify-content: space-around;
  padding: 0;
}

header nav ul li {
  list-style: none;
  text-decoration: underline #0C9A4A;
  
}

/* FIN HEADER */

/* MAIN */

main {
  margin: 0 1em;
  text-align: center;
}

/* FIN MAIN */

/* ABOUT */

#mainAbout ul {
  justify-content: center;
  padding: .5rem 3rem;
}

#mainAbout ul li {
  list-style: none;
  margin: 1rem 0 1rem 0;
}

/* FIN ABOUT */

/* PRODUCTS */

.productCreate {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.productList {
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.productItem {
  width: 80%;
}

.productMain ul li {
  list-style: none;
  text-align: center;
}

.productPictures {
  width: 100%;
  border-radius: 2rem;
}

/* FIN PRODUCTS */

/* CONTACT */

form {
  display: flex;
  flex-direction: column;
}

#commentSection {
  height: 5rem;
}

/* FIN CONTACT */

/* FOOTER */

footer {
  text-align: center;
  color: #EED9C4;
  background-color: #0C9A4A ;
  padding: 2.5em;
  font-style: italic;
}

#legalNotices {
  color: #EED9C4;
}

/* FIN FOOTER */

/* QUERY */

@media only screen and (max-width: 480px) {
  .displayBig, #navbar {
    display: none;
  }
}

@media only screen and (min-width: 481px) {
  .displayBig {
    position: absolute;
    top: 15px;
    left: 20px;
  }
  
  .displaySmall {
    display: none;
  }
  
  .productPictures {
  width: 50%;
  }
}

